html {
  font-size: 90%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

.btn-sm {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button-light {
  background: #6c757d !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  color: white !important;
  font-size: 12px !important;
}

.button-secondary {
  background: #6c757d !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  font-size: 10px !important;
}

.btn:hover {
  border: 0.1rem #808080 solid;
}

.img-span{
  transform: translate(-70px, 40px);
  font-size: 10px;
}

.card{
  border-radius: 10px !important;  
}

.ms-auto{
  width: 90vw;
  border-top: 1px solid #909090;
  margin-left: 200px;
}